:root {
  --section-background-color: #1f0243;
  --text-color: #ffffff;
  --button-violet-Dark: #5406b3;
  --button-Violet: #6a08e0;
  --Opacity-White-20: rgba(255, 255, 255, 0.1);
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora";
}

.container {
  /* outline: solid red; */
  max-width: 1344px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header {
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--section-background-color, #1f0243);
}

.header-info {
  display: flex;
}

.header-div {
  display: flex;
}

.logo-header {
  display: flex;
  width: 84px;
  height: 36px;
  padding: 6.844px 0 5.695px 0;
  justify-content: center;
  align-items: center;
}

.header-list {
  color: var(--text-color, #ffffff);
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: auto;
}

.navigation {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-1-text);



}

.navigation:hover {
  color: #6a08e0;
}

.header-button {
  display: flex;
  padding: 8px 20px;
  justify-content: right;
  align-items: right;
  gap: 8px;
  border-radius: 12px;
  border-top: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-right: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-bottom: 4px solid var(--button-violet-Dark, #5406b3);
  border-left: 1.5px solid var(--button-violet-Dark, #5406b3);
  background: var(--button-Violet, #6a08e0);
  color: var(--text-color, #ffffff);
  margin-right: 64px;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.header-button:hover {
  background-color: #5406b3;
}

.hero {
  background: var(--section-background-color, #1f0243);
  padding-top: 272.5px;
  padding-bottom: 272.5px;
  display: flex;
  height: 900px;
  padding: 64px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-image: linear-gradient(
      270deg,
      rgba(106, 90, 205, 0.5) 40%,
      rgba(78, 32, 124, 0.5) 60%
    ),
    url("./photo/image.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  align-self: stretch;
  color: var(--text-color, #ffffff);
  max-width: 835px;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.64px;
}

.hero-text {
  max-width: 594px;

  color: var(--text-color, #ffffff);
  margin-top: 24px;
  margin-bottom: 32px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero-button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 12px;
  border-top: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-right: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-bottom: 4px solid var(--button-violet-Dark, #5406b3);
  border-left: 1.5px solid var(--button-violet-Dark, #5406b3);
  background: var(--button-Violet, #6a08e0);

  color: var(--text-color, #ffffff);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.hero-button:hover {
  background-color: #5406b3;
}

.hero-button2 {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1.5px solid var(--Opacity-White-20, rgba(255, 255, 255, 0.1));
  border-right: 1.5px solid var(--Opacity-White-20, rgba(255, 255, 255, 0.1));
  border-bottom: 4px solid var(--Opacity-White-20, rgba(255, 255, 255, 0.1));
  border-left: 1.5px solid var(--Opacity-White-20, rgba(255, 255, 255, 0.1));
  color: var(--text-color, #ffffff);

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.hero-button2:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-button-div {
  display: flex;
  gap: 16px;
}

.game {
  background: var(--section-background-color, #1f0243);
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.game-title {
  width: 527px;
  flex-shrink: 0;
  color: var(--text-color, #fff);

  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}

.game-text {
  flex: 1 0 0;
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.game-dive {
  display: flex;
  padding-bottom: 56px;
  gap: 32px;
}

.game-list {
  display: flex;
  height: 350px;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.game-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid var(--Color-Scheme-1-Border, rgba(255, 255, 255, 0.2));
  background: #2a0359;
}

.game-subtitle {
  align-self: stretch;
margin-left: 16px;
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.game-item-text {
  align-self: stretch;
margin-left: 16px;
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.info {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: var(--section-background-color, #1f0243);
  background-image: url(./photo/s.webp);
  background-repeat: no-repeat;
  background-position: right ;
}

.info-title {
  align-self: stretch;
  color: var(--text-color, #fff);
  text-align: center;

  padding-bottom: 16px;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.48px;
}

.info-text {
  margin-bottom: 80px;

  color: var(--text-color, #fff);
  text-align: center;

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.info-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  align-self: stretch;
  flex-wrap: wrap;
}

.info-item {
  position: relative;
  display: flex;
  height: 289px;
  min-width: 416px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
overflow: hidden;
  border-radius: 8px;
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, rgba(255, 255, 255, 0.2));
  background: var(--Color-Scheme-1-Foreground, #2a0359);
}


.overlay {
  display: flex;
  top: 0;
  position: absolute;
  border: #2a0359 solid 7px;
  border-radius: 10px;
  opacity: 0;
  width: 416px;
  height: 289px;
  background-color: rgba(106, 90, 205, 0.5);
  backdrop-filter: blur(2px);
  align-items: center;
  justify-content: center;
 
}

.overlay-link {
color: #FFF;
border: #5406b3 solid;
border-radius: 5px;
height: 40px;
width: 160px;
background-color: rgba(41, 3, 112, 0.7);
font-size: 19px;
font-weight: 50px;
font-family: "Open Sans";
display: flex;
justify-content: center;
align-items: center;
}

.overlay:hover {
  opacity: 1;
}





.info-subtitle {
  align-self: stretch;
  color: var(--text-color, #fff);
  text-align: center;

  font-size: var(--Text-Sizes-Heading-5, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.32px;
}

.info-item-text {
  align-self: stretch;
  color: var(--text-color, #fff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.info-icon {
  stroke: #FFF;
  fill: transparent;
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
}

.price {
  padding-top: 112px;

  background: var(--section-background-color, #1f0243);

  
}

.price-title {
  align-self: stretch;

  margin-bottom: 24px;
  color: var(--text-color, #fff);
  text-align: center;

  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}

.price-text {
  align-self: stretch;
  color: var(--text-color, #fff);
  text-align: center;
  padding-bottom: 80px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.price-list {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.price-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.price-item {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  justify-content: space-between;
  border-radius: 8px;
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, rgba(255, 255, 255, 0.2));
  background: var(--Color-Scheme-1-Foreground, #2a0359);
}

.price-subtitle-h4 {
  align-self: stretch;
  color: var(--text-color, #fff);
  text-align: center;
  padding-bottom: 8px;

  font-size: var(--Text-Sizes-Heading-6, 26px);
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.26px;
}

.price-subtitle-h3 {
  align-self: stretch;
  color: var(--text-color, #fff);
  text-align: center;
  padding-bottom: 32px;

  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.64px;
}

.price-item-text {
  color: var(--text-color, #fff);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.price-button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--text-color, #ffffff);

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 12px;
  border-top: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-right: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-bottom: 4px solid var(--button-violet-Dark, #5406b3);
  border-left: 1.5px solid var(--button-violet-Dark, #5406b3);
  background: var(--button-Violet, #6a08e0);
}

.price-button:hover {
  background-color: #5406b3;
}

.price-check {
  width: 24px;
  height: 24px;
}

.price-all-text {
  display: flex;
  padding: 8px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.text-and-check {
  display: flex;
  gap: 16px;
}

.booking-section {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: var(--section-background-color, #1f0243);
  
  
}

.booking-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;

  align-items: flex-start;
  justify-content: space-between;
}

.booking-content {
  min-width: 640px;
}

.booking-subtitle {
  color: var(--text-color, #fff);

  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.booking-title {
  align-self: stretch;
  color: var(--text-color, #fff);

  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.booking-p-text {
  align-self: stretch;
  color: var(--text-color, #fff);

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.booking-l {
  color: var(--text-color, #fff);

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  min-width: 640px;
}

.name {
  align-self: stretch;
  color: var(--text-color, #fff);

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.name-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.email {
  align-self: stretch;
  color: var(--text-color, #fff);

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.booking-form label {
  font-size: 0.95rem;
}

.booking-form input[type="text"],
.booking-form input[type="email"] {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.booking-form input::placeholder {
  color: #aaa;
}

.booking-in {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--section-background-color, #1f0243);
}

.radio-list {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color, #fff);
  flex-direction: column;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.radio-group label {
  font-weight: normal;
}

.booking-form button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border-top: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-right: 1.5px solid var(--button-violet-Dark, #5406b3);
  border-bottom: 4px solid var(--button-violet-Dark, #5406b3);
  border-left: 1.5px solid var(--button-violet-Dark, #5406b3);
  background: var(--button-Violet, #6a08e0);
  color: var(--text-color, #ffffff);

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.booking-form button:hover {
  background-color: #5406b3;
}

.info-2-div {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.info-2 {
  padding-top: 112px;
  padding-bottom: 112px;
  background: var(--section-background-color, #1f0243);
}

.info-2-title {
  width: 675px;
  color: var(--text-color, #fff);
  text-align: center;

  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}

.info-2-text {
  align-self: stretch;
  color: var(--text-color, #fff);
  text-align: center;

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.info-2-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-height: 624px;
  flex-wrap: wrap;
}

.big {
  max-width: 624px;
}

.info-2-item {
  width: 296px;
  height: 296px;
}

.box-info {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.reviews {
  display: flex;
  padding-top: 112px;

  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;

  background: var(--section-background-color, #1f0243);
}

.reviews-title {
  color: var(--text-color, #fff);
  text-align: center;
  margin-bottom: 24px;

  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.54px;
}

.reviews-subtitle {
  color: var(--text-color, #fff);
  text-align: center;
  margin-bottom: 80px;

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.reviews-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.reviews-item {
  display: flex;
  max-width: 640px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  border: var(--Stroke-Border-Width, 1px) solid
    var(--Color-Scheme-1-Border, rgba(255, 255, 255, 0.2));
  background: var(--Color-Scheme-1-Foreground, #2a0359);
}

.reviews-text {
  color: var(--text-color, #fff);

  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.reviews-name {
  color: var(--text-color, #fff);

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}


.star-list {
  display: flex;
  width: 116px;
  height: 19px;
}



.star-list-svg {
  width: 29px ;
  height: 28px;
fill: white;
stroke: white;
}

.star-list-svg:hover {
  fill: #5406b3;
}

/* .stars-img {
  width: 116px;
  height: 19px;
} */

.footer {
  display: flex;
  padding: var(--Section-Padding-padding-section-medium, 80px)
    var(--Page-Padding-padding-global, 64px);
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: var(--section-background-color, #1f0243);
}

.logo-footer {
  display: flex;
  width: 84px;
  height: 36px;
  padding: 6.844px 0px 5.695px 0px;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: var(--text-color, #fff);
  margin-top: 32px;
  
  font-family: "Open Sans";
  font-size:  16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.footer-address {
  color: var(--text-color, #fff);
  margin-bottom: 24px;
  
  font-family: "Open Sans";
  font-size:  16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.footer-link {
  display: flex;
  flex-direction: column;
  color: var(--text-color, #fff);

  
  font-family: "Open Sans";
  font-size:  16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.footer-sublist {
  margin-top: 32px;
  display: flex;
  gap: 12px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.footer-icon:hover {
  fill: #6a08e0;
}

.right-footer {
  margin-left: auto;
}

.right-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  
}




.box-footer {
  display: flex;
}



.right-item {
  gap: 16px;
}

.right-item:hover {
  color: #6a08e0;
}

.right-link {
  color: #fff;

  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.right-link:hover {
  color: #6a08e0;
}

.prava-text {
  margin-top: 32px;
  color: var(--text-color, #fff);

  
  font-family: "Open Sans";
  font-size:  16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.prava {
  border-top: 1px solid white;

  text-align: center;
}


.backdrop {
  background-color: rgba(78, 32, 124, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
}

.model {
  width: 500px;
  height: 500px;
  background-color:rgb(130, 90, 205);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 11px;

}

.backdrop-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
padding-right: 10px;
padding-top: 6px;
}

.model-exit-icon {
  width: 60px;
  height: 60px;
  fill: wheat;
}

.backdrop-form {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 90px;
  gap: 22px;
  justify-content: center;
  align-items: center;

}

.backdrop-form-name {
background-color: rgba(109, 40, 236, 0.5);
width: 300px;
 height: 55px;
 padding-left: 7px;
}

.backdrop-form-number {
background-color: rgba(109, 40, 236, 0.3);
width: 300px;
 height: 55px;
font-family: Arial, Helvetica, sans-serif;
padding-left: 7px;

}


.backdrop-form-button {
 margin-top: 40px;
 width: 200px;
 height: 55px;
 font-size: 18px;
  font-style: normal;
 background-color: #5406b3;
 color: wheat; 
 box-shadow: #5406b3 2px 2px 50px 2px;
border-bottom: 4px solid var(--opacity-white-20);
border-left: 1.50px solid var(--opacity-white-20);
border-right: 1.50px solid var(--opacity-white-20);
border-top: 1.50px solid var(--opacity-white-20);
border-radius: 12px;
}

.backdrop-form-button:hover {
background-color: rgb(90, 11, 238, 0);
}

.backdrop-text {
  font-size: 18px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;

}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}


